<div class="">
  <h2>{{char_name}}</h2>
  <p>{{class}}</p>
  <p>{{subclass}}</p>
  <p>{{race}}</p>
  <p>{{age}}</p>
  <p>{{maxHP}}</p>
  <p>{{currentHP}}</p>
  <p>{{description}}</p>
  <p>{{features}}</p>
</div>