<div class="">
  <h2>Name: {{char_name}}</h2>
  <p>Class:{{charclass.class_name}}</p>
  <p>{{subclass}}</p>
  <p id="level" value ={{level}}>Level:{{level}}</p>
  <p>Race: {{race.race_name}}</p>
  <p id="age" value="{{age}}">Age: {{age}}</p>
   <div class="ability-container">
    {{#each abilities as | ability|}}
      <div class="ability-item" >
        <select class="ability-dropdown" id="ability{{ability.id}}">
          <option value="{{ability.id}}">{{ability.Ability_name}}</option>
        </select>
        <input id="ability{{ability.id}}score" type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
    

  <p id="maxHP" value="{{maxHP}}">Max HP:{{maxHP}}</p>
  <p id="currentHP" value="{{currentHP}}">Current HP: {{currentHP}}</p>
  <p>Description:{{description}}</p>
  <p id="features" value="{{features}}">Features: {{features}}</p>
<select id="skillsDropdown">
    {{#each skills as |skill|}}
      <option value="{{skill.id}}">{{skill.skill_name}}</option>
    {{/each}}
</select>
  <ul id="skillsList">
    <!-- Selected skills will be added here dynamically -->
    {{#if skills}}
    <li value="{{skills.id}}">{{skills.skills_name}}</li>
    {{/if}}
  </ul>
</div>
<button id="charsheet-button">Save changes</button>

<div class="container">
        <h1>Dice Roller</h1>
       {{#each weapons as |weapon|}}
            <option class="weapon" id="selectedweapon" value={{weapon.damage}}>
                <h2>{{weapon.name}} damage type: {{weapon.damage_type}}</h2>
            </option>
        {{/each}}
        <button id ="weaponRoll">Roll Single Die</button>
        
        <div id="result"></div>
    </div>