<div class="">
  <h2>Name: {{char_name}}</h2>
  <p>Class:{{charclass.class_name}}</p>
  <p>{{subclass}}</p>
  <p>Race: {{race.race_name}}</p>
  <p>Age: {{age}}</p>
   <div class="ability-container">
    {{#each abilities as | ability|}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{ability.id}}">{{ability.Ability_name}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
    

  <p>Max HP:{{maxHP}}</p>
  <p>Current HP: {{currentHP}}</p>
  <p>Description:{{description}}</p>
  <p>Features: {{features}}</p>
<select id="skillsDropdown">
    {{#each skills as |skill|}}
      <option value="{{skill.id}}">{{skill.skill_name}}</option>
    {{/each}}
</select>
  <ul id="skillsList">
    <!-- Selected skills will be added here dynamically -->
    {{#if skills}}
    <li value="{{skills.id}}">{{skills.skills_name}}</li>
    {{/if}}
  </ul>
</div>

<div class="container">
        <h1>Dice Roller</h1>
       {{#each weapons as |weapon|}}
            <option class="weapon" id="selectedweapon" value={{weapon.damage}}>
                <h2>{{weapon.name}} damage type: {{weapon.damage_type}}</h2>
            </option>
        {{/each}}
        <button id ="weaponRoll">Roll Single Die</button>
        
        <div id="result"></div>
    </div>

<button id="char-update-button">Update Character</button>

<script src="/assets/js/script.js"></script>