<div class="">
  <h2>{{char_name}}</h2>
  <p>{{class}}</p>
  <p>{{subclass}}</p>
  <p>{{race}}</p>
  <p>{{age}}</p>
   <div class="ability-container">
    {{#each abilities}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{this}}">{{this}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
     <div class="ability-container">
    {{#each abilities}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{this}}">{{this}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
     <div class="ability-container">
    {{#each abilities}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{this}}">{{this}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
     <div class="ability-container">
    {{#each abilities}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{this}}">{{this}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
     <div class="ability-container">
    {{#each abilities}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{this}}">{{this}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>
     <div class="ability-container">
    {{#each abilities}}
      <div class="ability-item">
        <select class="ability-dropdown">
          <option value="{{this}}">{{this}}</option>
        </select>
        <input type="number" class="ability-number" placeholder="Enter number">
      </div>
    {{/each}}
    </div>

  <p>{{maxHP}}</p>
  <p>{{currentHP}}</p>
  <p>{{description}}</p>
  <p>{{features}}</p>
<select id="skillsDropdown">
    {{#each skills}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <ul id="skillsList">
    <!-- Selected skills will be added here dynamically -->
  </ul>
</div>

<div class="container">
        <h1>Dice Roller</h1>
       {{#each weapon}}
            <option class="weapon" id="selectedweapon">
                <h2>{{name}}</h2>
            </option>
        {{/each}}
        <button id ="weaponRoll">Roll Single Die</button>
        
        <div id="result"></div>
    </div>