<div class="">
  <h2>{{char_name}}</h2>
  <p>{{class}}</p>
  <p>{{subclass}}</p>
  <p>{{race}}</p>
  <p>{{age}}</p>
  <p>{{maxHP}}</p>
  <p>{{currentHP}}</p>
  <p>{{description}}</p>
  <p>{{features}}</p>
</div>

<div class="container">
        <h1>Dice Roller</h1>
       {{#each weapon}}
            <option class="weapon" id="selectedweapon">
                <h2>{{name}}</h2>
            </option>
        {{/each}}
        <button id ="weaponRoll">Roll Single Die</button>
        
        <div id="result"></div>
    </div>